{% if settings.enable_compare %}
<a href="#" class="compare action-home4" data-pid="{{ product.handle  }}" title="" data-original-title="Compare product">   <i class="fas fa-exchange-alt"></i>  <span> {{ 'products.product.compare_products' | t }}</span></a>
{% endif %} 